@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Josefin Sans";
  src: url(./../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Inter", Verdana, sans-serif;
}

.top-menu {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
  justify-items: center;
  padding: 64px 0;
}

.same-values {
  text-decoration: none;
  color: #35414b;
}

.company-logo {
  font-family: "Josefin Sans", Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.link-get-started-free {
  background-color: #ece5ff;
  color: #794cff;
  padding: 13px 25px;
  border-radius: 5px;
  margin: 0 10px;
}
