@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Josefin Sans";
  src: url(./../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  color: #35414b;
  font-size: 16px;
  font-family: "Inter", Verdana, sans-serif;
}

.top-menu {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
  justify-items: center;
  padding: 64px 0;
}

.same-values {
  text-decoration: none;
  color: #35414b;
}

.company-logo {
  font-family: "Josefin Sans", Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.bars-in-top-menu {
  display: none;
}

.link-get-started-free {
  background-color: #ece5ff;
  color: #794cff;
  padding: 13px 25px;
  border-radius: 5px;
  margin: 0 10px;
}

.container-for-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
}

.link-get-account-of-59 {
  background-color: #f2f9eb;
  border-radius: 30px;
  padding: 10px 0px;
  padding-right: 15px;
  overflow: hidden;
}

.link-save-90 {
  background-color: #81c43b;
  color: #ffffff;
  border-radius: inherit;
  padding: 8.5px 20px;
}

.main-name-page {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.some-text-under-h1 {
  text-align: center;
  line-height: 1.5rem;
  max-width: 520px;
  margin: 0 auto;
}

.input-btn-in-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input-in-header {
  padding: 10px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 5px 0 0 5px;
}

.btn-in-header {
  background-color: #794cff;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 30px;
}

.figure-grapg-1 {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
}

.graph-1 {
  width: 100%;
}

.section-count-trusted {
  text-align: center;
  padding: 5rem 0;
}

.bolder-text {
  font-weight: bolder;
}

.who-tusted {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.section-in-chat {
  background-color: #fbfafe;
  width: 100%;
}

.div-fixed-section-in-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  gap: 50px;
  padding: 80px 20px;
  margin: 0 auto;
}

.img-chat {
  width: 100%;
}

.section-chat-section-text {
  padding: 20px;
  min-width: 300px;
  width: 100%;
}

.section-chat-section-text:hover {
  background-color: #f6f3fc;
  box-shadow: -5px 0 0 #794cff;
}

.h3-in-section {
  font-size: 1.125rem;
  font-weight: bolder;
  padding: 10px 0 10px 0;
}

.p-in-section {
  line-height: 1.5rem;
}

.section-make-work-easier {
  padding: 100px 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.section-for-points-in-work-easier {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  padding-top: 50px;
}

.h2-in-section-make-easier {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

.section-point {
  width: 100%;
}

.img-in-sect-work-easier {
  padding-bottom: 30px;
}

.section-how-work-everyday {
  background-color: #fbfafe;
}

.div-fixed-section-work-everyday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  gap: 50px;
  padding: 50px 20px;
  margin: 0 auto;
}

.all-text-in-section-work-everyday {
  max-width: 420px;
  padding: 10px;
}

.h2-in-section-work-everyday {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bolder;
}

.p-in-section-work-everyday {
  line-height: 1.5rem;
  padding: 30px 0;
}

.btn-in-section-work-everyday {
  background-color: #794cff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.img-work-everyday {
  width: 100%;
}

.section-love-working {
  padding: 50px 0;
}

.h2-in-section-love-working {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
  max-width: 450px;
  padding: 0 20px;
  margin: 0 auto;
}

.p-in-section-love-working {
  text-align: center;
  line-height: 1.8rem;
  max-width: 550px;
  padding: 50px 20px;
  margin: 0 auto;
}

.user-cards {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto;
}

.user-card {
  display: flex;
  max-width: 300px;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.user-card:hover {
  background-color: #c9c9c9;
  box-shadow: 0 -5px 0 black;
}

.text-in-user-card {
  padding: 0 20px;
}

.name-user {
  font-weight: bolder;
  padding-bottom: 5px;
}

.retreats-in-small-insert {
  padding: 20px;
}

.small-insert {
  background-color: #794cff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  gap: 20px;
  padding: 50px;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
}

.p-in-small-insert {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bolder;
  max-width: 450px;
  margin-right: auto;
}

.footer-section {
  background-color: #1d2830;
  color: #ffffff;
}

.all-footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
  padding: 50px 0;
  margin: 0 auto;
}

.section-in-footer-about-something {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.last-section-in-footer-border {
  padding: 30px;
  border-top: 1px solid darkgrey;
}

.last-section-in-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
}

.section-in-footer-about-something p {
  font-weight: bolder;
}

.hide-bottom {
  font-size: 0;
  padding: 0;
}

.all-a-in-footer-section {
  display: flex;
  gap: 10px;
}

.last-section-in-footer a {
  background-color: #35414b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 1210px) {
  .hide-link {
    display: none;
  }

  .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 30px;
  }

  .company-logo {
    font-size: 40px;
    font-weight: 500;
  }

  .bars-in-top-menu {
    color: #35414b;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-decoration: none;
    font-size: 12px;
  }

  .font-size-bars {
    font-size: 40px;
    padding-bottom: 5px;
  }

  .img-chat {
    width: 60%;
  }

  .all-text-in-section-work-everyday {
    min-width: 350px;
  }

  .img-work-everyday {
    width: 50%;
  }
}

@media screen and (max-width: 935px) {
  .img-chat {
    width: 100%;
  }

  .div-fixed-section-in-chat {
    display: flex;
    flex-direction: column;
  }

  .section-chat-section-text {
    text-align: center;
  }

  .section-chat-section-text:hover {
    background-color: #f6f3fc;
    box-shadow: 0 5px 0 #794cff;
  }

  .section-for-points-in-work-easier {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .div-fixed-section-work-everyday {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .all-text-in-section-work-everyday {
    max-width: 100%;
  }

  .img-work-everyday {
    width: 100%;
  }

  .user-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .small-insert {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .p-in-small-insert {
    max-width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .hide-almost-all a {
    display: none;
  }

  .all-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
  }

  .hide-bottom {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .same-properties-img {
    width: 100%;
  }

  .section-for-points-in-work-easier {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .all-a-in-footer-section {
    display: none;
  }
}
